<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="../css/style.css" th:href="@{/css/style.css}">
<title>Login page</title>
</head>
<body>
	<div class="container">

		<aside>
			<div>
				<span class="textspan"><a href="GoToHome">Home</a></span><br>
				<span class="textspan" th:text="'Actual user: ' + ${username}"></span><br>
				<span class="textspan" th:text="'Time login: ' + ${timeLogin}"></span><br>
				<span class="textspan"><a href="DoLogout">Logout</a></span><br>
			</div>
		</aside>

		<div class="displayable">
			<div class="descriptionMessage">Auction details</div>
			<table class="styled-table">
				<thead>
					<tr>
						<th>Auction id</th>
						<th>Start price</th>
						<th>Minimum rise</th>
						<th>Start date</th>
						<th>End date</th>
						<th>State</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${auction.id}"> </td> 
						<td th:text="${auction.startPrice }"> </td> 
						<td th:text="${auction.minimumRise }"> </td> 
						<td th:text="${auction.startDate }"></td>
						<td th:text="${auction.endDate }"></td>
						<td th:text="${auction.isClosed ? 'Closed' : 'Open'}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		  
		<div class="displayable">
			<div class="descriptionMessage">Included articles</div>
			<table class="styled-table">
				<thead>
					<tr>
						<th>Code</th>
						<th>Name</th>
						<th>Description</th>
						<th>Minimum price</th>
						<th>Image</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${auction.listOfArticle}">
						<td th:text="${item.code}"></td>
						<td th:text="${item.name}"></td>
						<td th:text="${item.description}"></td>
						<td th:text="${item.minimumPrice}"></td>
						<td>
								<div class="imageDiv">
									<img th:src="@{/GetImage(articleID=${item.code})}"/>
								</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
		<div th:if="${auction.isClosed}" class="displayable">
			<div class="descriptionMessage">Winner details</div>
			<table class="styled-table">
				<thead>
					<tr>
						<th>Winner's username</th>
						<th>Final price</th>
						<th>Shipping address</th>
					</tr>
				<thead>
				<tbody>
					<tr th:if="${offers == null or #lists.isEmpty(offers)}">
    					<td colspan="3" style="text-align: center;">No winner for the auction</td>
					</tr>
					<tr th:if="${offers != null and (not #lists.isEmpty(offers))}">
						<td th:text="${offers.get(0).getUserOffer()}"></td>
						<td th:text="${offers.get(0).getPrice()}"></td>
						<td th:text="${offers.get(0).getUserAddress()}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
		<div class="displayable">
			<div class="descriptionMessage">Received offers</div>
			<table class="styled-table">
				<thead>
					<tr>
						<th>Username</th>
						<th>Date</th>
						<th>Price</th>
					</tr>
				<thead>
				<tbody>
					<tr th:if="${offers == null or #lists.isEmpty(offers)}">
    					<td colspan="3" style="text-align: center;">No offers for this auction</td>
					</tr>
					<tr th:if="${offers != null and (not #lists.isEmpty(offers))}" th:each="item : ${offers}">
						<td th:text="${item.userOffer}"></td>
						<td th:text="${item.datatime}"></td>
						<td th:text="${item.price}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
		<div th:if="${auction.isClosed == false}" class="displayable">
			<form action="CloseAuction" class="closeAuction">
			<input type="hidden" th:value="${auction.id}" name="auctionId">
			<input class="styled-button" type="submit" value="Close auction">
			</form>
		</div>
		
		
		
	</div>
	
		
		
</body>
</html>